<section class="mt-5">
    <footer class="py-3  footer-bacground">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Главная</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Отзывы</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Наши аптеки</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Контакты</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Новости</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Доставка</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Как купить</a></li>
        </ul>
        <p class="text-center text-white">Разработан компанией ЗАО "Фармасервис"</p>
    </footer>
</section>